<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/base}">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" th:href="@{/css/content.css}">
</head>
<body>
    <div layout:fragment="content" class="content">
        <h1 class="content-h1">商品一覧</h1>
        <table class="content-table">
        <tr>
            <th>商品名</th>
            <th>値段</th>
            <th></th>
        </tr>
        <tr th:each="goods : ${goodsList}" align="center">
            <td th:text="${goods.goodsName}">商品名</td>
            <td th:text="${goods.price}">値段</td>
            <td><!-- GETでいいかは検討 -->
                <form method="GET" th:action="@{/pizza/{goodsId}(goodsId=${goods.goodsId})}">
                    <input type="submit" value="カートに追加">
                </form>
            </td>
        </tr>   
        </table>
    </div>
</body>
</html>